@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* Using import to reduce CSS file load in browser, by including one CSS file in another, and use this css file reference in all components */
@import url('./assets/css/field.css');
@import url('./assets/css/taskList.css');
@import url('./assets/css/taskCard.css');

.heading{
  font-family: 'Neucha', cursive;
  text-transform: uppercase;
  font-size: 40px;
  margin: 40px 0px;
  color: white;
  z-index: 1;
  text-align: center;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(17, 128, 226);
  font-family: 'Neucha', cursive;
}

@media (max-width: 800px) {
  .heading{
    margin: 20px 0px;
    font-size: 30px;
  }
}